// /* Place your extensions here to make migration to a new release easier. */

.dataview-demo .p-dataview .car-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border-bottom: 1px solid #d9dad9;
}


body .p-dataview .p-dataview-content {
    padding: 0.571em 1em;
    border: 0px solid #ffffff;
    background-color: #ffffff;
    color: #333333;
    padding: 0.571em 1em;
}